.*
!.travis.yml
configure
config.log
config.cache
config.status
config.guess
config.sub
confdefs.h
config.h.in
Makefile
libtool
depcomp
ltmain.sh
test-driver
version
Makefile.in
aclocal.m4
mkinstalldirs
install-sh
missing
autom4te.cache
depcomp
compile
ltconfig
*.la
*.lo
*.pc
*.o
*~
include/config.h
include/stamp-h1
include/stamp-vh
include/version.h
include/alsa
include/asoundlib.h
utils/alsa-lib.spec
alsalisp/alsalisp
aserver/aserver
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
src/Versions
src/Versions.in
src/conf/topology/sklrt286/data/pvt_data
src/control/ctl_symbols_list.c
src/pcm/pcm_symbols_list.c
doc/doxygen/*
doc/doxygen.cfg
test/audio_time
test/chmap
test/client_event_filter
test/control
test/latency
test/midiloop
test/namehint
test/oldapi
test/chmap
test/pcm
test/pcm_min
test/pcm-multi-thread
test/playmidi1
test/queue_timer
test/rawmidi
test/seq
test/timer
test/lsb/config
test/lsb/midi_event
