PROJECT_NAME     = "ALSA project - the C library reference"
OUTPUT_DIRECTORY = doxygen
GENERATE_LATEX   = NO
GENERATE_MAN     = NO
GENERATE_RTF	 = NO

CASE_SENSE_NAMES = NO
INPUT            = ../include ../src
EXCLUDE		 = ../src/control/control_local.h \
		   ../src/pcm/atomic.h \
		   ../src/pcm/interval.h \
		   ../src/pcm/interval_inline.h \
		   ../src/pcm/mask.h \
		   ../src/pcm/mask_inline.h \
		   ../src/pcm/pcm_local.h \
		   ../src/pcm/pcm_meter.h \
		   ../src/pcm/pcm_plugin.h \
		   ../src/pcm/plugin_ops.h \
		   ../src/mixer/mixer_local.h \
		   ../src/rawmidi/rawmidi_local.h \
		   ../src/seq/seq_local.h
RECURSIVE	 = YES
FILE_PATTERNS    = *.c *.h
#EXAMPLE_PATH     = example_test.cpp
QUIET            = YES

EXTRACT_ALL	 = NO
EXTRACT_STATIC	 = NO
SHOW_INCLUDE_FILES = NO
JAVADOC_AUTOBRIEF = NO
INHERIT_DOCS	 = YES
ENABLED_SECTIONS = ""
PREDEFINED	 = "DOC_HIDDEN"

OPTIMIZE_OUTPUT_FOR_C = YES	# doxygen 1.2.6 option
